{% load i18n %}

<div class="m-b-1">

  <nav class="navbar fixed-top navbar-expand-md navbar-dark bg-dark">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="{% url 'home' %}">My Audio Share</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li
          class="nav-item {% if request.resolver_match.url_name == 'about' %}active{% endif %}">
          <a class="nav-link" href="{% url 'about' %}">About</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        {% if request.user.is_authenticated %}
          <li
            class="nav-item {% if request.resolver_match.url_name == 'detail' %}active{% endif %}">
            {# URL provided by django-allauth/account/urls.py #}
            <a class="nav-link"
               href="{% url 'users:detail' request.user.username %}">{% trans "My Profile" %}</a>
          </li>
          <li
            class="nav-item {% if request.resolver_match.url_name == 'account_logout' %}active{% endif %}">
            {# URL provided by django-allauth/account/urls.py #}
            <a class="nav-link" href="{% url 'account_logout' %}">{% trans "Sign Out" %}</a>
          </li>
          {% if request.user.is_superuser %}
            <li
              class="nav-item {% if request.resolver_match.url_name == 'admin' %}active{% endif %}">
              <a id="log-in-link" class="nav-link" href="{% url 'admin:index' %}" target="_blank">Admin</a>
            </li>
          {% endif %}
        {% else %}
          <li
            class="nav-item {% if request.resolver_match.url_name == 'account_signup' %}active{% endif %}">
            {# URL provided by django-allauth/account/urls.py #}
            <a id="sign-up-link" class="nav-link"
               href="{% url 'account_signup' %}">{% trans "Sign Up" %}</a>
          </li>
          <li
            class="nav-item {% if request.resolver_match.url_name == 'account_login' %}active{% endif %}">
            {# URL provided by django-allauth/account/urls.py #}
            <a id="log-in-link" class="nav-link"
               href="{% url 'account_login' %}">{% trans "Sign In" %}</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </nav>

</div>
